name: Site Lint / Heading ID check

on:
  push:
    branches:
      - main # change this if your default branch is named differently
  pull_request:
    types: [opened, synchronize, reopened]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    name: Lint on node 20.x and ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Restore cached node_modules
        uses: actions/cache@v4
        with:
<<<<<<< HEAD
          path: "**/node_modules"
=======
          path: '**/node_modules'
>>>>>>> d34c6a2c6fa49fc6f64b07aa4fa979d86d41c4e8
          key: node_modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Lint codebase
        run: yarn ci-check
